<%=form_for @app do |f|%>
<label>Select Guest</label>
<%=f.collection_select(:guest_id, Guest.all, :id, :name)%>
<label>Select Episode</label>
<%=f.collection_select(:episode_id, Episode.all, :id, :number)%>
<%=f.submit%>
<%end%>